page-about {

    ion-content img {
        width: 100%;
    }

    .custom-background {
        background-color: #5F5F5F;
        width: 100%;
        position: relative;
        background: url(../assets/images/material.jpg);
        margin: 0 auto;
        display: table;
        background-size: cover;
        text-align: center;
    }

    .custom-background img {
        width: 180px;
        height: 180px;
        margin-top: 5px;
    }

    h2 {
        text-align: center;
        text-transform: uppercase;
    }

}
