user-menu {

    p {
        margin-bottom: 20px;
        color: #757575;
    }

    .list-header-md {
        margin-bottom: -10px;
        text-transform: uppercase;
        font-size: 1.2rem;
    }

}
